@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    font-size:1.2rem;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: rgb(24, 156, 165);
}

.header{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(134, 202, 197);
    color: rgb(0, 0, 0);
}

.name{
    font-size: 2rem;
    margin: .5rem;
    padding: 1rem 1rem;
    font-family: 'Abril Fatface', cursive;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 2.1rem;
}

.toggle-button .bar {
    height: 0.3rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
}

.container{
    display: flex;
    justify-content: center;
    height: 50rem;
    margin:3rem;
    padding-top: 2rem;
}

.content{
    padding: 9rem;
    justify-content: center;
    font-size:1.8rem;
}

.description{
    padding: 1rem 0rem 1rem 0rem ;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8rem;
}
.image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.button{
    margin-top:2.0rem;
    margin:1rem;
}
.button button{
    margin: 1.0rem;
    padding:0.9rem;
    border-radius: 1.4rem;
    font-size:1.5rem;
    cursor: pointer;
}

.button button a{
    text-decoration:none;
}

.button button:hover{
    background-color:rgb(24, 156, 165);
}


.contacts{
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin:10.0rem 10.0rem 00rem 10.0rem;
    padding:2.0rem;
    align-items:center;
}

.contacts-title{
    font-family: 'Libre Baskerville', serif;
    font-size:4rem;
    padding-bottom: 5.5rem;
}

.contact a{
    text-decoration: none;
}

.contact{
    padding:0.5rem;
    font-size:2rem;
    display:flex;
}
.hobbies{
    display:flex;
    flex-direction:column;
}

.hobbies h1{
    text-align: center;
    margin:auto;
    font-size: 3rem;
    padding: 5.0rem;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.hobbies span{
    margin:2.0rem;
    display: inline-grid;
    padding:0rem 5.0rem;
}
.hobbies span p{
    font-size: 2rem;
}

.hobby{
    display:flex;
    justify-content: center;
}
.progressbar{
    width:100vw;
    counter-reset:step;
}

.progressbar li{
    list-style-type: none;
    float:left;
    width:33.33%;
    position: relative;
    text-align: center;

}
.progressbar li::before{
    content:counter(step);
    counter-increment:step;
    width:2rem;
    height: 2rem;
    line-height: 2rem;
    border:0.3rem solid #555;
    display: block;
    text-align: center;
    margin: 0rem auto 1.0rem auto;
    border-radius:50%;
    background-color:white;
}

.progressbar li::after{
    content:'';
    position:absolute;
    width:100%;
    height: 0.2rem;
    background-color:#555;
    top:1.5rem;
    left:-50%;
    z-index:-1;
}

.progressbar li:first-child::after{
    content:none;
}

.progressbar li.active{
    color: rgb(7, 94, 94);
}
.progressbar li.active:before{
    border-color: rgb(16, 139, 139);
}

.progressbar li.active + li:after{
    background-color:rgb(7, 94, 94);
}

.skills{
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.skills h1{
    margin:auto;
    font-size: 3rem;
    padding: 5.0rem;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.skill{
    justify-content:center;
    margin:5.0rem auto 5.0rem 10.0rem;
    display:flex;
    font-size:1.5rem
}

.fab fa-js{
    background-color:yellow
}

.projects{
    display:grid;
    grid-template-columns: 30.0rem 30.0rem;
    grid-row-gap:9.0rem;
    grid-column-gap: 25.0rem;
    justify-content: center;
    margin-left:-9.1rem 
}

#project-title{
    text-align: center;
    font-size: 3rem;
    padding: 5.0rem;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.project{
    border: 0.2rem solid rgb(24, 156, 165) ;
    margin-right: 50rem;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2.0rem 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding:1.0rem;
    width:40.0rem;
    border-radius:1.0rem
}

.project p{
    margin-top:1.0rem;
    font-size:2.5rem;
}

.project h2{
    font-size:3rem;
    margin-bottom: 1.0rem;
    color:rgb(24, 156, 165)
}

.project p a {
    text-decoration: none;
}

.project p a:hover{
    text-decoration: underline
}

.activelink{
    background-color:rgb(24, 156, 165)
}

.contactinmain{
    background-color:rgb(71, 186, 194);
    margin:none
}

.iconimg img{
    height:4.7rem;
}

@media only screen and (max-width:600px) {
    html{
        font-size: 50%
    }
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    .container{
        flex-direction: column;
        margin-top: 28rem;
    }
    .image img{
        margin-bottom:15rem
    }
    .hobbies{
        justify-content: center;
        margin-top:18rem;
    }
    .hobby{
        flex-direction:column;
        align-items:center;
    }
    .projects{
        display:flex;
        flex-direction:column;
        align-items:center;
        padding:2rem
    }
    .project{
        margin:1rem 50rem;
        margin-left:60rem;
    }
}


@media only screen and  (min-width:600px){
    html{
        font-size: 40%
    }
}

@media only screen and (min-width: 768px) {
    html{
        font-size:45%
    }
}

@media only screen and  (min-width:992px){
    html{
        font-size: 55%
    }
}

@media only screen and  (min-width:1200px){
    html{
        font-size: 62.5%
    }
}